/***********************/
/* Custom Properties  */
/***********************/
:root {
  /* fonts */
  --font-family1: "Montserrat", serif;
  --font-family2: "Sacramento";
  --font-optical-sizing: auto;
  --font-weight1: 400;
  --font-weight2: 300;
  --font-style: normal;
}

/* voor de kleure */
@media (color-gamut:p3) {
  :root {
    --green: color(display-p3 0 1 0);
  }
}


/***********************/
/* Algemene styling  */
/***********************/
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin: 2em;
}

h1 {
  color: black;
  font-size: 25px;
  font-family: var(--font-family2);
  margin-top: -50px;
  margin-bottom: -15px;
}

h2 {
  color: black;
  font-size: 30px;
  font-family: "Sacramento";
  margin: 0;
}

p {
  font-family: var(--font-family1);
}


body {
  /* background: linear-gradient(to left top, #000000, #FFFFFF, #000000); */
  background-size: 120% 150%;
  background-image: url("/images/products/spacyBackground.png");
  animation: gradientAnimation 10s ease infinite;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  /* bron voor cursor : https://developer.mozilla.org/en-US/docs/Web/CSS/cursor/ */
  cursor: url("/images/cursor.png"), pointer;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  margin: 0 50px 50px;
  border: 10px solid #a5a3b2;
  background-color:  rgba(255, 255, 255, 0.8);;
  border-radius: 15px;
  padding: 2em;
}

@media (min-width: 750px) {
  .product-container {
    grid-template-columns: repeat(3, 1fr);
    display: grid;

  }

  .product:hover {
    transform: scale(1.2);
  }

  .product {
    transition: transform 0.2s;
  }
}

@media (max-width: 750px) {
  main {
    flex-direction: column;
  }

  .product-container {
    max-width: 500px;
    display: flex;
    margin-left: 210px;
    justify-content: flex-start;
    overflow: scroll;
  }

  .product {
    transition: none;
  }
}

.product-container {
  gap: 15px;
  text-align: center;
  width: 100%;
}

.product {
  background: #f2f2f2;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}


.product img {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 5px;
}

/* bron voor hover animatie : https://stackoverflow.com/questions/38132700/css-wiggle-shake-effect */
.product img:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {

  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

.product-code {
  margin-top: 10px;
  padding: 5px;
  background: black;
  color: white;
  border-radius: 5px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

#codeInput {
  width: 100%;
  height: 50px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #333;
  border-radius: 5px;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 20px;
  border: none;
  border-radius: 0.75em;
  cursor: pointer;
  background: lightgray;
  color: black;
  transition: background 0.2s;
}

button:hover {
  background: #f0dfe7;
}

button:nth-child(10) {
  background-color: transparent;
  background-image: url("/images/icons/cross.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

button:nth-child(12) {
  background-color: transparent;
  background-image: url("/images/icons/check.png");
  background-size: contain; 
  background-repeat: no-repeat;
  background-position: center;
}

/* Style for dialogs */
dialog {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: left;
  width: 300px;
  text-align: center;
}

dialog img {
  margin-left: -50px;
  padding: 1px 1px;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  /* Darken the backdrop */
}

.container {
  margin-top: 20px;
  text-align: center;
}

.buttons button {
  margin: 5px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.buttons button:active {
  background-color: #ccc;
}

#product-info-1005 img:nth-of-type(2) {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) infinite both;
  height: 250px;
  margin: 5px;
}

dialog:has(button) button {
  background-color: lightgrey;
  width: 80px;
  height: 35px;
  margin-bottom: 15px;
  font-family: "Montserrat";
  font-size: 15px;
}


article img{
  width: 200px;
  border-radius: 12px;
  margin: 2px;
}

