/***********************/
/* Custom Properties  */
/***********************/

/* fonts */
/* colors */

:root {
  --prefer-Radius: 1em;
  --main-color: #;

  --secondary-color: ;
  --font-size: ;
}


/***********************/
/* Algemene styling  */
/***********************/
header{
  display: flex;
  justify-content: center;
}
main{
  background-color: white;
  border-radius: var( --prefer-Radius);
}

h1 {
  text-transform: uppercase;
  font-family: verdana;
  font-size: 20px;
  font-weight: 700;
  color: #f5f5f5;
} 

ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 5em;

}

ul li{
  width: 15em;
}

ul img{
  width: 5em;
}


body {
  height: 100vh; /* hoogte */
  background-image: linear-gradient(to left top, #d16ba5, #c777b9,
      #ba83ca, #aa8fd8, #9a9ae1, #a0a4e5,
      #a7ade9, #aeb7ec, #c7c3f0, #dbd0f4, #eddff8, #fbeefe);
  
  background-size: 400% 400%;
  animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#codeInput {
  width: 50%;
  height: 50px;
  font-size: 24px;
  text-align: center;
  margin-bottom: 10px;
  border: 2px solid #333;
  border-radius: 5px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

button {
  width: 60px;
  height: 60px;
  font-size: 24px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color:white;
  color: black;
}

button:hover {
  background-color: lightblue;
}

button:nth-child(10) { background-color: lightcoral; } /* ❌ knop */
button:nth-child(12) { background-color: lightgreen; } /* ✅ knop */
